[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "write.snns"]
	path = write.snns
	url = https://github.com/cran/write.snns
	shallow = true
	registered = true
